h1, div, footer {
    font-family: "Helvetica Neue", Arial, sans-serif
}
h1 {
    margin: 0 0 20px;
    font-size: 32px;
    font-weight: normal
}
.icons {
    margin-bottom: 40px;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px
}
.icons__item, .icons__item i {
    line-height: 2em;
    overflow: hidden
}
.icons__item i {
    display: inline-block;
    width: 32px;
    text-align: center
}
footer {
    margin-top: 40px;
    font-size: 14px;
    color: #999999
}
@font-face {font-family: "localtricons"; src: url(../public/fonts/localtricons.eot?881fa1283e1ffefa95d9bbed088c9f79); src: url(../public/fonts/localtricons.eot?#iefix) format("embedded-opentype"), url(../public/fonts/localtricons.woff?881fa1283e1ffefa95d9bbed088c9f79) format("woff"), url(../public/fonts/localtricons.ttf?881fa1283e1ffefa95d9bbed088c9f79) format("truetype"), url(../public/fonts/localtricons.svg?881fa1283e1ffefa95d9bbed088c9f79#localtricons) format("svg"); font-weight: normal; font-style: normal}
.mf-icon {
    font-family: "localtricons";
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.mf-icon-arrow-back:before {
    content: ""
}
.mf-icon-arrow-bigger:before {
    content: ""
}
.mf-icon-arrow-collapse:before {
    content: ""
}
.mf-icon-arrow-down:before {
    content: ""
}
.mf-icon-arrow-download:before {
    content: ""
}
.mf-icon-arrow-expand:before {
    content: ""
}
.mf-icon-arrow-left:before {
    content: ""
}
.mf-icon-arrow-move-left:before {
    content: ""
}
.mf-icon-arrow-move-object:before {
    content: ""
}
.mf-icon-arrow-move-rigth:before {
    content: ""
}
.mf-icon-arrow-move:before {
    content: ""
}
.mf-icon-arrow-redo:before {
    content: ""
}
.mf-icon-arrow-reload2:before {
    content: ""
}
.mf-icon-arrow-resend2:before {
    content: ""
}
.mf-icon-arrow-resend3:before {
    content: ""
}
.mf-icon-arrow-resize-bigger:before {
    content: ""
}
.mf-icon-arrow-right:before {
    content: ""
}
.mf-icon-arrow-smaller:before {
    content: ""
}
.mf-icon-arrow-sort-down:before {
    content: ""
}
.mf-icon-arrow-sort-up:before {
    content: ""
}
.mf-icon-arrow-sort:before {
    content: ""
}
.mf-icon-arrow-tag-left:before {
    content: ""
}
.mf-icon-arrow-tag-right:before {
    content: ""
}
.mf-icon-arrow-turn-left-2:before {
    content: ""
}
.mf-icon-arrow-turn-left:before {
    content: ""
}
.mf-icon-arrow-turn-right-2:before {
    content: ""
}
.mf-icon-arrow-turn-right:before {
    content: ""
}
.mf-icon-arrow-undo:before {
    content: ""
}
.mf-icon-arrow-up:before {
    content: ""
}
.mf-icon-arrow-upload:before {
    content: ""
}
.mf-icon-arrow2-double-left:before {
    content: ""
}
.mf-icon-arrow2-left:before {
    content: ""
}
.mf-icon-arrow3-back:before {
    content: ""
}
.mf-icon-arrow3-next:before {
    content: ""
}
.mf-icon-arrow4-back:before {
    content: ""
}
.mf-icon-arrow4-down:before {
    content: ""
}
.mf-icon-arrow4-move-left:before {
    content: ""
}
.mf-icon-arrow4-move-right:before {
    content: ""
}
.mf-icon-arrow4-move:before {
    content: ""
}
.mf-icon-arrow4-next:before {
    content: ""
}
.mf-icon-arrow4-sort-down:before {
    content: ""
}
.mf-icon-arrow4-sort-up:before {
    content: ""
}
.mf-icon-arrow4-sort:before {
    content: ""
}
.mf-icon-arrow4-up:before {
    content: ""
}
.mf-icon-buble-euro:before {
    content: ""
}
.mf-icon-circle-cancel:before {
    content: ""
}
.mf-icon-circle-check:before {
    content: ""
}
.mf-icon-circle-forbidden:before {
    content: ""
}
.mf-icon-circle-minus:before {
    content: ""
}
.mf-icon-circle-plus:before {
    content: ""
}
.mf-icon-circle-plus2:before {
    content: ""
}
.mf-icon-circle-priority-express:before {
    content: ""
}
.mf-icon-circle-priority-high:before {
    content: ""
}
.mf-icon-circle-priority-urgent:before {
    content: ""
}
.mf-icon-circle-send:before {
    content: ""
}
.mf-icon-circle-wheel:before {
    content: ""
}
.mf-icon-circle-wheel2:before {
    content: ""
}
.mf-icon-circle-world:before {
    content: ""
}
.mf-icon-circle:before {
    content: ""
}
.mf-icon-globe-dots:before {
    content: ""
}
.mf-icon-globe-euro:before {
    content: ""
}
.mf-icon-globe-lines:before {
    content: ""
}
.mf-icon-globe:before {
    content: ""
}
.mf-icon-globes-info:before {
    content: ""
}
.mf-icon-doc-attach:before {
    content: ""
}
.mf-icon-doc-certified:before {
    content: ""
}
.mf-icon-doc-check:before {
    content: ""
}
.mf-icon-doc-check2:before {
    content: ""
}
.mf-icon-doc-contract:before {
    content: ""
}
.mf-icon-doc-csv-comments:before {
    content: ""
}
.mf-icon-doc-csv:before {
    content: ""
}
.mf-icon-doc-delete:before {
    content: ""
}
.mf-icon-doc-download-help:before {
    content: ""
}
.mf-icon-doc-download-justify:before {
    content: ""
}
.mf-icon-doc-download:before {
    content: ""
}
.mf-icon-doc-edit:before {
    content: ""
}
.mf-icon-doc-euro:before {
    content: ""
}
.mf-icon-doc-line-csv:before {
    content: ""
}
.mf-icon-doc-line-pdf:before {
    content: ""
}
.mf-icon-doc-list:before {
    content: ""
}
.mf-icon-doc-new:before {
    content: ""
}
.mf-icon-doc-ok:before {
    content: ""
}
.mf-icon-doc-pdf-download:before {
    content: ""
}
.mf-icon-doc-pdf:before {
    content: ""
}
.mf-icon-doc-question:before {
    content: ""
}
.mf-icon-doc-reload:before {
    content: ""
}
.mf-icon-doc-search:before {
    content: ""
}
.mf-icon-doc-upload:before {
    content: ""
}
.mf-icon-doc-warning:before {
    content: ""
}
.mf-icon-doc-xml:before {
    content: ""
}
.mf-icon-doc:before {
    content: ""
}
.mf-icon-docs-check:before {
    content: ""
}
.mf-icon-docs:before {
    content: ""
}
.mf-icon-facebook:before {
    content: ""
}
.mf-icon-googleplus:before {
    content: ""
}
.mf-icon-twitter:before {
    content: ""
}
.mf-icon-vimeo:before {
    content: ""
}
.mf-icon-bell:before {
    content: ""
}
.mf-icon-bike:before {
    content: ""
}
.mf-icon-boat:before {
    content: ""
}
.mf-icon-books:before {
    content: ""
}
.mf-icon-books2:before {
    content: ""
}
.mf-icon-bulb:before {
    content: ""
}
.mf-icon-bus:before {
    content: ""
}
.mf-icon-calculator:before {
    content: ""
}
.mf-icon-calendar:before {
    content: ""
}
.mf-icon-car:before {
    content: ""
}
.mf-icon-chemistry:before {
    content: ""
}
.mf-icon-city2:before {
    content: ""
}
.mf-icon-commerce:before {
    content: ""
}
.mf-icon-cowtrees:before {
    content: ""
}
.mf-icon-ct-clock:before {
    content: ""
}
.mf-icon-demography:before {
    content: ""
}
.mf-icon-economy:before {
    content: ""
}
.mf-icon-eu-flag:before {
    content: ""
}
.mf-icon-eye:before {
    content: ""
}
.mf-icon-factory:before {
    content: ""
}
.mf-icon-film:before {
    content: ""
}
.mf-icon-graduate_hat:before {
    content: ""
}
.mf-icon-handshake:before {
    content: ""
}
.mf-icon-heart:before {
    content: ""
}
.mf-icon-house:before {
    content: ""
}
.mf-icon-house2:before {
    content: ""
}
.mf-icon-houses:before {
    content: ""
}
.mf-icon-justice:before {
    content: ""
}
.mf-icon-key:before {
    content: ""
}
.mf-icon-keyplus:before {
    content: ""
}
.mf-icon-lightnin_bulb:before {
    content: ""
}
.mf-icon-lock:before {
    content: ""
}
.mf-icon-microscope:before {
    content: ""
}
.mf-icon-money-bag:before {
    content: ""
}
.mf-icon-money-coins:before {
    content: ""
}
.mf-icon-pencil:before {
    content: ""
}
.mf-icon-pill:before {
    content: ""
}
.mf-icon-pinetree:before {
    content: ""
}
.mf-icon-public:before {
    content: ""
}
.mf-icon-screen-picture:before {
    content: ""
}
.mf-icon-screen-play:before {
    content: ""
}
.mf-icon-swimmer:before {
    content: ""
}
.mf-icon-tag:before {
    content: ""
}
.mf-icon-tool:before {
    content: ""
}
.mf-icon-tourism:before {
    content: ""
}
.mf-icon-train:before {
    content: ""
}
.mf-icon-trash:before {
    content: ""
}
.mf-icon-tshirt:before {
    content: ""
}
.mf-icon-unlock:before {
    content: ""
}
.mf-icon-wheat:before {
    content: ""
}
.mf-icon-add2:before {
    content: ""
}
.mf-icon-administration-silence:before {
    content: ""
}
.mf-icon-administration:before {
    content: ""
}
.mf-icon-arrobe:before {
    content: ""
}
.mf-icon-attach:before {
    content: ""
}
.mf-icon-cancel:before {
    content: ""
}
.mf-icon-cancel2:before {
    content: ""
}
.mf-icon-check:before {
    content: ""
}
.mf-icon-communication:before {
    content: ""
}
.mf-icon-control-back:before {
    content: ""
}
.mf-icon-control-backward:before {
    content: ""
}
.mf-icon-control-forward:before {
    content: ""
}
.mf-icon-control-next:before {
    content: ""
}
.mf-icon-control-pause:before {
    content: ""
}
.mf-icon-control-play:before {
    content: ""
}
.mf-icon-control-stop:before {
    content: ""
}
.mf-icon-dir-tree:before {
    content: ""
}
.mf-icon-email-open:before {
    content: ""
}
.mf-icon-email:before {
    content: ""
}
.mf-icon-email3:before {
    content: ""
}
.mf-icon-euro:before {
    content: ""
}
.mf-icon-grid-list:before {
    content: ""
}
.mf-icon-grid-medium:before {
    content: ""
}
.mf-icon-grid-small:before {
    content: ""
}
.mf-icon-historic:before {
    content: ""
}
.mf-icon-inbox-empty:before {
    content: ""
}
.mf-icon-info:before {
    content: ""
}
.mf-icon-layers:before {
    content: ""
}
.mf-icon-linked:before {
    content: ""
}
.mf-icon-list:before {
    content: ""
}
.mf-icon-locate2:before {
    content: ""
}
.mf-icon-max-window:before {
    content: ""
}
.mf-icon-min-window:before {
    content: ""
}
.mf-icon-new-note:before {
    content: ""
}
.mf-icon-new-window:before {
    content: ""
}
.mf-icon-note-warning:before {
    content: ""
}
.mf-icon-note:before {
    content: ""
}
.mf-icon-percent:before {
    content: ""
}
.mf-icon-print:before {
    content: ""
}
.mf-icon-question:before {
    content: ""
}
.mf-icon-quotes-down:before {
    content: ""
}
.mf-icon-quotes-up:before {
    content: ""
}
.mf-icon-rss:before {
    content: ""
}
.mf-icon-rss2:before {
    content: ""
}
.mf-icon-save2:before {
    content: ""
}
.mf-icon-save4:before {
    content: ""
}
.mf-icon-save5:before {
    content: ""
}
.mf-icon-save6:before {
    content: ""
}
.mf-icon-search-minus:before {
    content: ""
}
.mf-icon-search-plus:before {
    content: ""
}
.mf-icon-search:before {
    content: ""
}
.mf-icon-send:before {
    content: ""
}
.mf-icon-share:before {
    content: ""
}
.mf-icon-shield-star:before {
    content: ""
}
.mf-icon-sign:before {
    content: ""
}
.mf-icon-sign_cancel:before {
    content: ""
}
.mf-icon-sign_doc:before {
    content: ""
}
.mf-icon-star:before {
    content: ""
}
.mf-icon-star2:before {
    content: ""
}
.mf-icon-stats-bars:before {
    content: ""
}
.mf-icon-stats-bars2:before {
    content: ""
}
.mf-icon-stats:before {
    content: ""
}
.mf-icon-table-add-row:before {
    content: ""
}
.mf-icon-table-delete-row:before {
    content: ""
}
.mf-icon-table-display-all:before {
    content: ""
}
.mf-icon-table-display-error:before {
    content: ""
}
.mf-icon-text:before {
    content: ""
}
.mf-icon-unlink:before {
    content: ""
}
.mf-icon-verify-data:before {
    content: ""
}
.mf-icon-warning:before {
    content: ""
}
.mf-icon-warning2:before {
    content: ""
}
.mf-icon-society:before {
    content: ""
}
.mf-icon-user-admin-check:before {
    content: ""
}
.mf-icon-user-admin-config:before {
    content: ""
}
.mf-icon-user-admin-delete:before {
    content: ""
}
.mf-icon-user-admin-euro:before {
    content: ""
}
.mf-icon-user-admin-money:before {
    content: ""
}
.mf-icon-user-admin-new:before {
    content: ""
}
.mf-icon-user-admin-new2:before {
    content: ""
}
.mf-icon-user-admin:before {
    content: ""
}
.mf-icon-user-check:before {
    content: ""
}
.mf-icon-user-circle-check:before {
    content: ""
}
.mf-icon-user-compatibility:before {
    content: ""
}
.mf-icon-user-config:before {
    content: ""
}
.mf-icon-user-council:before {
    content: ""
}
.mf-icon-user-delete:before {
    content: ""
}
.mf-icon-user-group-house-new:before {
    content: ""
}
.mf-icon-user-group-house:before {
    content: ""
}
.mf-icon-user-group-key:before {
    content: ""
}
.mf-icon-user-group-new:before {
    content: ""
}
.mf-icon-user-group:before {
    content: ""
}
.mf-icon-user-group2:before {
    content: ""
}
.mf-icon-user-key:before {
    content: ""
}
.mf-icon-user-link:before {
    content: ""
}
.mf-icon-user-mail:before {
    content: ""
}
.mf-icon-user-man:before {
    content: ""
}
.mf-icon-user-new:before {
    content: ""
}
.mf-icon-user-new2:before {
    content: ""
}
.mf-icon-user-office:before {
    content: ""
}
.mf-icon-user-person-new:before {
    content: ""
}
.mf-icon-user-person:before {
    content: ""
}
.mf-icon-user-police:before {
    content: ""
}
.mf-icon-user-political-party:before {
    content: ""
}
.mf-icon-user-silence:before {
    content: ""
}
.mf-icon-user-warning:before {
    content: ""
}
.mf-icon-user-woman:before {
    content: ""
}
.mf-icon-user:before {
    content: ""
}
.mf-icon-users-couple:before {
    content: ""
}
.mf-icon-users-men-couple:before {
    content: ""
}
.mf-icon-users-women-couple:before {
    content: ""
}