<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="common/layout">

<head>

	<script th:src="|${#httpServletRequest.getContextPath()}/js/aplicaciones/lista.js|"></script>

</head>

<body>
    <div layout:fragment="content">
    
    	<div class="mf-window-header">
            <div class="mf-window-header--hgroup">
                <h3 class="mf-window-header--title" th:text="*{titulo}"></h3>
            </div>
             <ul class="mf-window-toolbar" th:fragment="actionButtons" id="actionButtons">
                <li class="mf-window-toolbar--tool">
                    <a onclick="showDialogAlta()">
                        <span class="mf-icon mf-icon-doc-new"></span>
                        <span th:text="#{listaAplicaciones.nuevo}"></span>
                    </a>
                </li>
            </ul>
        </div>
        
        <input type="hidden" id="desactivarLabel" th:value="#{listaAplicaciones.desactivar.mensaje}"/>
        <input type="hidden" id="activarLabel" th:value="#{listaAplicaciones.activar.mensaje}"/>

        <div id="contentData">
        	<form id="desactivarAplicacionForm" th:action="@{/bajaAplicacion}" method="post">
	                <input type="hidden" name="identificador" id="identificador"/>
	                <input type="hidden" name="app" id="app" th:value="*{app}"/>
	        </form>
	        
	        <form id="eliminarAplicacionForm" th:action="@{/eliminarAplicacion}" method="post">
	                <input type="hidden" name="identificador" id="identificador"/>
	                <input type="hidden" name="app" id="app" th:value="*{app}"/>
	        </form>
	        
	        <form id="altaAplicacionForm" th:action="@{/altaAplicacion}" method="post">
	                <input type="hidden" name="identificador" id="identificador"/>
	                <input type="hidden" name="password" id="password"/>
	                <input type="hidden" name="responsable" id="responsable"/>
	                <input type="hidden" name="email" id="email"/>
	                <input type="hidden" name="telefono" id="telefono"/>
	                <input type="hidden" name="aditional" id="aditional"/>
	                <input type="hidden" name="app" id="app" th:value="*{app}"/>
	                <input type="hidden" name="codigoUnidadOrganica" id="codigoUnidadOrganica"/>
	                <input type="hidden" name="serialNumberCertificado" id="serialNumberCertificado"/>
	                <input type="hidden" name="numeroProcedimiento" id="numeroProcedimiento"/>
	        </form>
        
            <table id="appList" class="mf-table-data mf-table-data__sortable mf-table-data__zebra fld">
            	<thead>
                    <tr>
                        <th class="mf-sort-ln" href="·" th:title="#{listaAplicaciones.tablaIdentificador.title}" th:text="#{listaAplicaciones.tablaIdentificador.title}"></th>                                            
                        <th class="mf-sort-ln" href="·" th:title="#{listaAplicaciones.tablaAcciones.responsable}" th:text="#{listaAplicaciones.tablaAcciones.responsable}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaAplicaciones.tablaAcciones.email}" th:text="#{listaAplicaciones.tablaAcciones.email}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaAplicaciones.tablaAcciones.telefono}" th:text="#{listaAplicaciones.tablaAcciones.telefono}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaAplicaciones.tablaAcciones.codigoUnidadOrganica}" th:text="#{listaAplicaciones.tablaAcciones.codigoUnidadOrganica}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaAplicaciones.tablaAcciones.numeroProcedimiento}" th:text="#{listaAplicaciones.tablaAcciones.numeroProcedimiento}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaAplicaciones.tablaActivo.title}" th:text="#{listaAplicaciones.tablaActivo.title}"></th>
                        <th class="mf-sort-ln" href="·" th:title="#{listaAplicaciones.tablaAcciones.title}" th:text="#{listaAplicaciones.tablaAcciones.title}"></th>
                    </tr>
                </thead>
                <tbody>
                	<tr th:each="app,iterationStatus : *{data}" th:id="'app_'+${iterationStatus.count - 1}">
						<td class="grid-column-creador" th:text="${app.identificador}"></td>
						<td class="grid-column-creador" th:text="${app.responsable}"></td>
						<td class="grid-column-creador" th:text="${app.email}"></td>
						<td class="grid-column-creador" th:text="${app.telefono}"></td>
						<td class="grid-column-creador" th:text="${app.codigoUnidadOrganica}"></td>
						<td class="grid-column-creador" th:text="${app.numeroProcedimiento}"></td>
						<td class="grid-column-articulo_tipo.codigo" th:text="${app.activo}"></td>
						<td class="grid-column-actions last-column">
                            <ul class="grid-row-actions">  
                                <li class="grid-row-action">
                                	<a id="btn_editar_documento" title="Editar" href="#!" class="mf-table-data--row-action  mf-action  mf-action__editar" 
										th:onclick="|javascript:showDialogEdit('${app.identificador}', '${app.email}', '${app.responsable}', '${app.telefono}', '${app.aditionalString}', '${app.codigoUnidadOrganica}', '${app.serialNumberCertificado}', '${app.numeroProcedimiento}')|"
										th:attr="data-modal-title=#{listaAplicaciones.eliminar}" >
										<span class="mf-icon mf-icon-doc-config"></span>
									</a>
                                </li>
                            </ul>
                        </td>    
                	</tr>
                </tbody>
            </table>
            
            <div  id="init-modal-desactivar-app" 
		            data-title="Activar/Desactivar" 
		            data-modal="1" 
		            data-draggable="0"
		            data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento" 
		            data-position_h="center"
		            data-position_v="center" 
		            class="buttonbar--btn simbutton hidden">
		        <div>
	                <p class="fld">
	                   <label id="labelBorrar" class="mf-field-doc"></label>  
	                </p>                                        
	            </div>                                      
		        <div class="js-timer-veil mf-veil hidden">
		        </div>
		    </div>
		    
		    <div  id="init-modal-eliminar-app" 
		            data-title="Eliminar" 
		            data-modal="1" 
		            data-draggable="0"
		            data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento" 
		            data-position_h="center"
		            data-position_v="center" 
		            class="buttonbar--btn simbutton hidden">
		        <div>
	                <p class="fld">
	                   <label id="labelBorrar" class="mf-field-doc" th:text="#{listaAplicaciones.eliminar.mensaje}"></label>  
	                </p>                                        
	            </div>                                      
		        <div class="js-timer-veil mf-veil hidden">
		        </div>
		    </div>
		    
		    <div  id="init-modal-alta-app" 
		            data-title="Alta" 
		            data-modal="1" 
		            data-draggable="0"
		            data-clazz="tr-dialog tr-help-dialog mf-document-dialog js-dialog-documento" 
		            data-position_h="center"
		            data-position_v="center" 
		            class="buttonbar--btn simbutton hidden">
		        <div>
	                <p class="fld">
	                   <label id="labelIdentificador" class="mf-field-doc required" th:text="#{listaAplicaciones.alta.identificador}"></label>  
	                   <input type="text" name="identificador"/>
	                                    
	                </p>
	                <p class="fld">
	                	<label id="labelPassword" class="mf-field-doc required" th:text="#{listaAplicaciones.alta.password}"></label>  
	                   	<input type="password" name="password"/>	 
	                </p>
	                <p class="fld">
	                   <label id="labelDir3" class="mf-field-doc required" th:text="#{listaAplicaciones.alta.dir3}"></label>  
	                   <input type="text" name="codigoUnidadOrganica"/>
	                </p>    
	                <p class="fld">
	                	<label id="labelResponsable" class="mf-field-doc required" th:text="#{listaAplicaciones.alta.responsable}"></label>  
	                   	<input type="text" name="responsable"/>
	                </p>
	                <p class="fld">
	                   	<label id="labelEmail" class="mf-field-doc required" th:text="#{listaAplicaciones.alta.email}"></label>  
	                   	<input type="email" name="email"/>
	                </p>    
	                <p class="fld"> 
	                	<label id="labelTelefono" class="mf-field-doc required" th:text="#{listaAplicaciones.alta.telefono}"></label>  
	                   	<input type="text" name="telefono"/>
	                </p> 
	                
	                <p class="fld"> 
	                	<label id="labelSerialNumberCertificado" class="mf-field-doc" th:text="#{listaAplicaciones.alta.serialNumberCertificado}"></label>  
	                   	<input type="text" name="serialNumberCertificado" />
	                </p>
	                
	                <p class="fld"> 
	                	<label id="labelNumeroProcedimiento" class="mf-field-doc" th:text="#{listaAplicaciones.alta.numeroProcedimiento}"></label>  
	                   	<input type="text" name="numeroProcedimiento" />
	                </p>
	                  
	                <p class="fld" >&nbsp;</p> 
	                   
	                <p class="fld" >	                
	                   <label id="labeltexto" class="mf-field-doc" ><font color="#0000FF"><b>CAMPOS ADICIONALES.</b></font></label>  
	               </p>
	                
	                <p class="fld" th:each="dato,iterationStatus : *{aditionalData}" th:id="'dato_'+${iterationStatus.count - 1}">
						<label th:id="${'label' + dato.key}" class="mf-field-doc" th:text="${dato.key}"></label>          
						<input type="text" th:name="${'aditional_' + dato.key}" th:value="${dato.value}"/>
	                </p>             
	            </div>                                      
		        <div class="js-timer-veil mf-veil hidden">
		        </div>
		    </div>
        </div>

    </div>
</body>
</html>