<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="common/layout" lang="es">

<head>
	<title>P&aacute;gina principal</title>
</head>

<body class="inicio">
    <div layout:fragment="content">

        <div id="contentData">
            <div class="menu-inicio">
                <div class="documentos">
                    <h4 th:text="#{principal.aplicaciones}"></h4>
                    <ul>
                       <li>
                            <a th:href="@{/aplicacionesLista?app=Eeutil}">
                                <span class="mf-icon mf-icon-doc-new"></span>
                                <div class="data">
                                    <h5 th:text="#{principal.eeutil}"></h5>
                                    <p th:text="#{principal.aplicaciones.eeutil.desc}"></p>
                                </div>
                            </a>
                        </li>
                    </ul>               
                </div>

            </div>
        </div>

    </div>
</body>
</html>